.topbarContainer {
  height: 60px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 500;
}
.topbarLeft {
  flex: 2;
}
.logo-title {
  font-size: 22px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}
.searchbar {
  width: 100%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 28px;
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}
.topbarRight {
  flex: 5;

  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
}
.topbarLink {
  margin-right: 10px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
}
.topbarIcons {
  display: flex;
}
.topbarIconItem {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}
.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: rgb(251, 31, 31);
  border-radius: 50%;
  color: rgb(255, 253, 253);
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.topbarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid black;
}
